# Virtual env
cred/
venv/

# Python
__pycache__/
*.pyc

# ML artifacts
mlruns/
artifacts/

# Data & models (handled by DVC)
# Ignore actual data, not DVC files
data/*
!data/**/*.dvc

models/*
!models/**/*.dvc
/models
